<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ page.rel }}index.html">Basketball: {{ page.level | upcase }} {{ page.year }} </a>

    <nav class="site-nav">
      <div>
        <a class="page-link" href="team_comparison.html"> Team comparison</a>
        <a class="page-link" href="pos.html"> By position</a>
        <a class="page-link" href="teams.html"> By team</a>
        <a class="page-link" href="{{ page.rel }}about.html"> About</a>
      </div>
    </nav>

  </div>

</header>
